.navbar{
    border-radius: 0px;
    border:none;
    box-shadow: none;
}
.top-navbar-menu{
    font-size: small;
    font-weight: bold;
    min-height: auto;
}
.top-navbar-menu .navbar-nav li a{
    line-height: 25px;
    padding: 8px;
}
.main-navbar-menu{
    background-color: transparent;
    border:none;
}

nav#birincinavbar {
    height: 50px;
    border: none;
	background-color:#F1F1F1;
}

nav#ikincinavbar {
	background-color:#FFF;
		margin: 0;
    border: none;
}


nav#ikincinavbar{
	
	height: 105px;
	
}

ul#ikincinavbarnav {
    padding-top: 33px;
}

@media screen and (max-width: 768px) {
  nav#birincinavbar {
	  min-height: 0px;
      max-height: 0px;
      visibility: hidden;	  
}
  nav#ikincinavbar {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
	

}
}

ul#ikinciloginkismi {
    margin-right: 0;
}


a#thirdMenuItems {
    color: white;
}


nav#ucuncunavbar {
    background-color: #737373;
		border-bottom: none;
	margin: 0px;
	
}

div#ikincimyNavbar {
    width: 100%;

}


@media screen and (max-width: 767px) {
	
	nav#ucuncunavbar {
    background-color: #ffffff;
    float: left;

}
	
	
}


button#leftMenuBtn {
    margin-left: 10px;
}


button#signbtn {
    background-color: #1CB834;
    color: #fff;
    width: 140px;
    height: 50px;
    font-size: 18px;
	font-weight: bold;
}

button#joinbtn {
    width: 175px;
    height: 50px;
    color: #fff;
    background-color: #E97A01;
    font-size: 18px;
    font-weight: bold;
    margin-right: 12px !important;
}

@media screen and (max-width: 869px) {
	
button#signbtn {

	margin-right: 47px;
}
	
	
}

.navbar-default .navbar-nav.thirMenuItems>li>a {
    color: #fff !important; 
}


.row.firstrow{
	
	background-color: #FE9C42;
	
	
}


.row.seconderow{
	
	background-color: #F0F4F7;
	
	
}


h1,p#firstRowText{
	
	color: white;
	
}

h1#leftRowTexthead {
    font-size: 40px;
}

div#orangepartleft {
    padding-top: 70px;
}

div#orangepartrigtht {
    height: 400px;
	padding-top: 40px;
}


p#rightRowText {
    color: #fff;
    font-size: 45px;
    text-align: -webkit-right;
}

p#leftRowText {
    color: #fff;
    font-size: 23px;
}


div#SearchModal {
    background-color: #FE9C42;
}


div#LoginModal {
    background-color: #FE9C42;
}

div#SignModal {
    background-color: #FE9C42;
}